/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    bottom: 0;
    padding: 1em;
    animation: rainbow 8s ease infinite;
    background-image: linear-gradient(124deg, #ff470f, #f14668, #b86bff, #3273dc);
    background-size: 800% 800%;
  }
  
  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  span {
    display: flex;
    font-family: sans-serif;
    font-size: .8em;
    font-weight: 200;
    margin-right: .5em;
    color: white;
    width: 100%;
    letter-spacing: 1px;
  }
  
  .header {
    display: flex;
  }
  
  .close {
    display: none;
  }
  
  .closeButton {
    height: 1em;
    width: 1em;
    color: white;
  }
  
  .sendIcon {
    color: lightgreen;
  }
  
  .emailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .3s ease-out;
    margin-right: 10px;
  }
  
  .emailInput:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    transition: all .3s ease-out;
  }
  
  .emailInput::placeholder {
    color: white;
    font-size: 1.3em;
    font-weight: 300;
  }
  
  .emailInput:hover::placeholder {
    color: white;
  }
  
  .emailInput:focus::placeholder {
    color: white;
    transition: all .3s ease-out;
  }
  
  .validEmailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgreen;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 1% 80%;
      background-position-x: 1%;
      background-position-y: 80%;
    }
  
    50% {
      background-position: 99% 20%;
    }
  
    100% {
      background-position: 1% 80%;
    }
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    bottom: 0;
    padding: 1em;
    animation: rainbow 8s ease infinite;
    background-image: linear-gradient(124deg, #ff470f, #f14668, #b86bff, #3273dc);
    background-size: 800% 800%;
  }

  span {
    display: flex;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
    margin-right: .8em;
    color: white;
    width: 100%;
    letter-spacing: 1px;
  }
  
  .header {
    display: flex;
  }
  
  .close {
    display: none;
  }
  
  .closeButton {
    height: 1em;
    width: 1em;
    color: white;
  }
  
  .sendIcon {
    color: lightgreen;
  }
  
  .emailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .3s ease-out;
    margin-right: 10px;
  }
  
  .emailInput:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    transition: all .3s ease-out;
  }
  
  .emailInput::placeholder {
    color: white;
    font-size: 1.3em;
    font-weight: 300;
  }
  
  .emailInput:hover::placeholder {
    color: white;
  }
  
  .emailInput:focus::placeholder {
    color: white;
    transition: all .3s ease-out;
  }
  
  .validEmailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgreen;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10px;
  }


  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 1% 80%;
      background-position-x: 1%;
      background-position-y: 80%;
    }
  
    50% {
      background-position: 99% 20%;
    }
  
    100% {
      background-position: 1% 80%;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  span {
    display: flex;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
    margin-right: .8em;
    color: white;
    width: 670px;
    letter-spacing: 1px;
  }
  
  .header {
    display: flex;
  }
  
  .close {
    display: none;
  }
  
  .closeButton {
    height: 1em;
    width: 1em;
    color: white;
  }
  
  .sendIcon {
    color: lightgreen;
  }
  
  .emailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .3s ease-out;
    margin-right: 10px;
  }
  
  .emailInput:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    transition: all .3s ease-out;
  }
  
  .emailInput::placeholder {
    color: white;
    font-size: 1.3em;
    font-weight: 300;
  }
  
  .emailInput:hover::placeholder {
    color: white;
  }
  
  .emailInput:focus::placeholder {
    color: white;
    transition: all .3s ease-out;
  }
  
  .validEmailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgreen;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    position: sticky;
     bottom: 0;
    animation: rainbow 8s ease infinite;
    background-image: linear-gradient(124deg, #ff470f, #f14668, #b86bff, #3273dc);
    background-size: 800% 800%;
  }
  
  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 1% 80%;
      background-position-x: 1%;
      background-position-y: 80%;
    }
  
    50% {
      background-position: 99% 20%;
    }
  
    100% {
      background-position: 1% 80%;
    }
  }
  .container {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    display: flex;
    justify-content: center;
    position: sticky;
     bottom: 0;
    animation: rainbow 8s ease infinite;
    background-image: linear-gradient(124deg, #ff470f, #f14668, #b86bff, #3273dc);
    background-size: 800% 800%;
  }

  span {
    display: flex;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
    margin-right: .8em;
    color: white;
    width: 670px;
    letter-spacing: 1px;
  }
  
  .header {
    display: flex;
  }
  
  .close {
    display: none;
  }
  
  .closeButton {
    height: 1em;
    width: 1em;
    color: white;
  }
  
  .sendIcon {
    color: lightgreen;
  }
  
  .emailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .3s ease-out;
    margin-right: 10px;
  }
  
  .emailInput:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    transition: all .3s ease-out;
  }
  
  .emailInput::placeholder {
    color: white;
    font-size: 1.3em;
    font-weight: 300;
  }
  
  .emailInput:hover::placeholder {
    color: white;
  }
  
  .emailInput:focus::placeholder {
    color: white;
    transition: all .3s ease-out;
  }
  
  .validEmailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgreen;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 1% 80%;
      background-position-x: 1%;
      background-position-y: 80%;
    }
  
    50% {
      background-position: 99% 20%;
    }
  
    100% {
      background-position: 1% 80%;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .signUpForm {
    width: 100%;
    animation: rainbow 8s ease infinite;
    background-image: linear-gradient(124deg, #ff470f, #f14668, #b86bff, #3273dc);
    background-size: 800% 800%;
    position: sticky;
    bottom: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: .5em 18em;

  }

  span {
    display: flex;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
    margin-right: .8em;
    color: white;
    letter-spacing: 1px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
  }
  
  .close {
    display: none;
  }
  
  .closeButton {
    height: 1em;
    width: 1em;
    color: white;
    cursor: pointer;
  }
  
  .sendIcon {
    color: lightgreen;
    cursor: pointer;
  }

  .sendIcon:hover {
    color: white;
    transition: 250ms;
    cursor: pointer;
  }
  
  .emailInput {
    color: white;
    background: transparent;
    border: none;
    font-size: 1em;
    border-bottom: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .3s ease-out;
    margin-right: 10px;
  }
  
  .emailInput:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    transition: all .3s ease-out;
  }
  
  .emailInput::placeholder {
    color: white;
    font-size: 1em;
    font-weight: 300;
  }
  
  .emailInput:hover::placeholder {
    color: white;
  }
  
  .emailInput:focus::placeholder {
    color: white;
    transition: all .3s ease-out;
  }
  
  .validEmailInput {
    color: white;
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgreen;
    width: 100%;
    height: 2.5em;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 10px;
  }

  .validEmailInput:focus {
    border: none;
    border-radius: 0;
    font-size: 1em;
    border-bottom: 1px solid lightgreen;
    transition: all .3s ease-out;
  }
  
  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes rainbow {
    0% {
      background-position: 1% 80%;
      background-position-x: 1%;
      background-position-y: 80%;
    }
  
    50% {
      background-position: 99% 20%;
    }
  
    100% {
      background-position: 1% 80%;
    }
  }
}