/****************************
 BLOG POST STYLES
****************************/

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: .5em;
}

.postTitle {
  font-size: 4em;
  font-weight: 200;
}

.postAuthor {
  color: #fff;
  font-weight: 300;
}

.imageContainer {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1em;
}

.heroImage {
  width: 100%;
  height: auto;
}

.postTitle {
  color: #33475B;
  overflow: hidden;
  margin: 0;
}

.postDate {
  color: #33475B;
  font-size: .7em;
  margin-bottom: 1em;
}

.postDescription {
  color: #33475B;
}

.iconWrapper {
  padding-top: 160px;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.facebookIcon {
  height: 1.5em !important;
  width: 1.5em !important;
  background-color: navy;
  color: white;
  padding: .5em;
}

.twitterIcon {
  height: 1.5em !important;
  width: 1.5em !important;
  background-color: lightblue;
  color: white;
  padding: .5em;
}
