/****************************
  BLOG POST STYLES
****************************/

.postTitle {
  font-weight: 200;
  overflow: hidden;
}

.postAuthor {
  color: #fff;
  font-weight: 300;
}

.pillContainer {
  margin: 5px 0;
}

.postPill {
  margin-right: .5em;
}

.imageContainer {
  height: 500px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin: 2em 0;
}

.heroImage {
  width: 100%;
  height: auto;
}

.postDate {
  font-size: .7em;
  margin-bottom: 1em;
}

.iconWrapper {
  padding-top: 132px;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.facebookIcon {
  height: 1.5em !important;
  width: 1.5em !important;
  background-color: navy;
  color: white;
  padding: .5em;
}

.twitterIcon {
  height: 1.5em !important;
  width: 1.5em !important;
  background-color: lightblue;
  color: white;
  padding: .5em;
}

.paginationBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationNumber {
  font-size: 1.5em;
  margin: 0 1em;
}

.currentPage {
  border-bottom: 1px solid lightsalmon;
}
