.heroNav {
  min-height: 25em;
  margin: 1em -100%;
  /* old browsers fallback */
  margin: 1em calc(50% - 50vw);
}

.heroNavHeader {
  font-weight: 600;
  margin-bottom: .2em;
}

.heroNavSubtitle {
  font-size: 1.5em;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heroNavContent {
  min-height: 320px;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4faff;
}

.heroNavTiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: none;
  padding-bottom: 50px;
}

.tileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  margin-top: -250px;
  justify-content: center;
}

.heroNavTileSubtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1em;
}

.heroNavTile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 160px;
  margin-right: 1.5em;
  background-color:#fff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(108,127,135,.1), 0 1px 4px 0 rgba(108,127,135,.36);
}

.tileIcon {
  padding: 2em;
  border-radius: 100%;
  height: 30px;
  width: 30px !important;
  background-color: #DEEFFE;
  justify-content: center;
  color: #82ABDC;
  margin-bottom: 5px;
}

.tileLabel {
  font-weight: bold;
  color: #6C7F87;
}