/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .headerText {

  }

  .latestPosts {

  }
  
  .googleMap {

  }
  
  .contactContainer {

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .headerText {

  }

  .latestPosts {

  }
  
  .googleMap {

  }
  
  .contactContainer {

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headerText {

  }

  .latestPosts {
    display: flex;
    align-self: center;
    width: 100%;
  }
  
  .googleMap {
    height: 60vh;
    margin:1em -100%; /* old browsers fallback */
    margin: 0 calc(50% - 50vw);
  }
  
  .contactContainer {
    display: flex;
    min-height: 60vh;
    background: #4CAF50;
    justify-content: space-between;
    padding: 5em;
    margin:1em -100%; /* old browsers fallback */
    margin: 0 calc(50% - 50vw);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerText {
    margin-bottom: 2em;
  }

  .latestPosts {
    display: flex;
    align-self: center;
    width: 100%;
  }
  
  .googleMap {
    height: 60vh;
    margin:1em -100%; /* old browsers fallback */
    margin: 0 calc(50% - 50vw);
  }
  
  .contactContainer {
    display: flex;
    min-height: 60vh;
    background: #4CAF50;
    justify-content: space-between;
    padding: 5em;
    margin:1em -100%; /* old browsers fallback */
    margin: 0 calc(50% - 50vw);
  }
}