html {
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #33475B;
  font-weight: 200;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}


p {
  margin: 0;
  line-height: 1.5em;
  font-weight: 400;
  color: #33475B;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0
}

a {
  text-decoration: none;
}

/**************************************
* STYLES FOR ADDED HTML IN BLOG POSTS
**************************************/
.amazon-link-container {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
}

.amazon-link-image {
  align-self: center;
}

.latest-price-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 3em;
}

.latest-price {
  text-align: center;
  padding: .5em 2em;
  border-radius: 8px;
  width: 400px;
  background-color: green;
}

.latest-price:hover {
  background-color: #1e73be;
  transition: 250ms;
}

.latest-price-label {
  font-size: 1.2em;
  color: white;
}